@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --blue: #29234b;
}
.bg-blue{
    background-color: var(--blue);
}

::-webkit-scrollbar {
    width: 2px;
  }

  ::-webkit-scrollbar-track {
    background: #bababa; 
  }

  ::-webkit-scrollbar-thumb {
    background: #6cb049; 
  }


  @keyframes blink {
    0% {
      background-color: red; 
    }
    50% {
      background-color: #ad0000; 
    }
    100% {
      background-color: red; 
  
    }
  }
  
  .animate-blink {
    animation: blink 1s infinite;
  }
  